# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Project1/FileContentIndex/4cf84508-dc96-4cfd-b2fd-5091156f296e.vsidx
/.vs/Project1/FileContentIndex/71dd1a91-4c08-47e2-a828-73829be168ae.vsidx
/.vs/Project1/FileContentIndex/73c44f38-4f44-4f07-a6db-00056e2207a7.vsidx
/.vs/Project1/FileContentIndex/7ff3aff4-bda7-471f-a45e-0324b7b90f01.vsidx
/.vs/Project1/FileContentIndex/9180028b-9892-4a60-8237-17036aa61186.vsidx
/.vs/Project1/v17/.suo
/.vs/Project1/v17/Browse.VC.db
/.vs/Project1/v17/Browse.VC.db-shm
/.vs/Project1/v17/Browse.VC.db-wal
/.vs/Project1/v17/Browse.VC.opendb
/.vs/Project1/v17/ipch/AutoPCH/1627a5acc12700ff/PROJECT1.ipch
/.vs/Project1/v17/ipch/AutoPCH/1e5fe26a6d6c418b/IFCREAD.ipch
/.vs/Project1/v17/ipch/AutoPCH/239fb4fd8ca152f0/IMPORTANT.ipch
/.vs/Project1/v17/ipch/AutoPCH/3ba77eeaa31fc278/IFCCOM.ipch
/.vs/Project1/v17/ipch/AutoPCH/5c4002916f208e89/IMPORTANT.ipch
/.vs/Project1/v17/ipch/AutoPCH/7a6ec98f14c57077/IMPORTANT.ipch
/.vs/Project1/v17/ipch/AutoPCH/7e74603bae5bee11/IFCREAD.ipch
/.vs/Project1/v17/ipch/AutoPCH/87e90b3e3c75bbc2/IFCCOM.ipch
/.vs/Project1/v17/ipch/AutoPCH/ada4fa8d0416195d/PROJECT1.ipch
/.vs/Project1/v17/ipch/AutoPCH/c4ca0ad0449c721e/IFCREAD.ipch
/.vs/Project1/v17/ipch/AutoPCH/d4c57dc79840325c/IFCREADTOOLS.ipch
/.vs/Project1/v17/ipch/AutoPCH/f52040bec4585c5a/IFCREADTOOLS.ipch
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/framework.h
/haz.ifc
/proba.ifc
/Project1.aps
/Project1.ico
/Project1.sln
/Project1.vcxproj
/Project1.vcxproj.filters
/Project1.vcxproj.user
/resource.h
/small.ico
/targetver.h
/x64/Debug/ifcread.obj.enc
/x64/Debug/Project1.Build.CppClean.log
/x64/Debug/Project1.exe.recipe
/x64/Debug/Project1.ilk
/x64/Debug/Project1.log
/x64/Debug/project1.new.obj.enc
/x64/Debug/Project1.pdb
/x64/Debug/Project1.res
/x64/Debug/Project1.tlog/CL.command.1.tlog
/x64/Debug/Project1.tlog/Cl.items.tlog
/x64/Debug/Project1.tlog/CL.read.1.tlog
/x64/Debug/Project1.tlog/CL.write.1.tlog
/x64/Debug/Project1.tlog/link.command.1.tlog
/x64/Debug/Project1.tlog/link.read.1.tlog
/x64/Debug/Project1.tlog/link.write.1.tlog
/x64/Debug/Project1.tlog/Project1.lastbuildstate
/x64/Debug/Project1.tlog/rc.command.1.tlog
/x64/Debug/Project1.tlog/rc.read.1.tlog
/x64/Debug/Project1.tlog/rc.write.1.tlog
/x64/Debug/Project1.vcxproj.FileListAbsolute.txt
/x64/Debug/vc143.idb
/x64/Debug/vc143.pdb
/x64/Release/Project1.Build.CppClean.log
/x64/Release/Project1.exe.recipe
/x64/Release/Project1.iobj
/x64/Release/Project1.ipdb
/x64/Release/Project1.log
/x64/Release/Project1.pdb
/x64/Release/Project1.res
/x64/Release/Project1.tlog/CL.command.1.tlog
/x64/Release/Project1.tlog/Cl.items.tlog
/x64/Release/Project1.tlog/CL.read.1.tlog
/x64/Release/Project1.tlog/CL.write.1.tlog
/x64/Release/Project1.tlog/link.command.1.tlog
/x64/Release/Project1.tlog/link.read.1.tlog
/x64/Release/Project1.tlog/link.write.1.tlog
/x64/Release/Project1.tlog/link.write.2u.tlog
/x64/Release/Project1.tlog/Project1.lastbuildstate
/x64/Release/Project1.tlog/rc.command.1.tlog
/x64/Release/Project1.tlog/rc.read.1.tlog
/x64/Release/Project1.tlog/rc.write.1.tlog
/x64/Release/Project1.vcxproj.FileListAbsolute.txt
/x64/Release/vc143.pdb
/.vs/Project1/FileContentIndex/b58b316c-f5da-4943-9273-b031f2b461f8.vsidx
